BODY {background: #DDD; margin: 0px}

HEADER, FOOTER {
	text-align: center;
	clear: both;
	padding: 16px;
}
ARTICLE {
	background: #EEE;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding: 32px;
}
NAV {
	padding: 8px;
	background: #EEE;
	float: right;
	width: 256px;
	margin: 16px;
	display: block;
	text-align: center;
	border: 1px solid #CCC;
}
FOOTER {
	font-size: 0.75em;
}

H1 {margin-top: 0px; margin-bottom: 0px;}
H3 {margin-bottom: 4px;}

.quote > .text {white-space: pre-wrap;}
.quote > .info {margin-top: 0.75em; font-style: italic;}

NAV TABLE {
	margin: auto;
}
TD INPUT, TD TEXTAREA {
	width: 100%;
}
