<%def name="body(pagenum, changequery, tags)">
<!--
<h3>Links</h3>
<a href="/">Index</a> / <a href="#add">Add</a>
-->
<h3>Navigation</h3>
<a href="${changequery(page=pagenum-1)}">&lt;&lt;</a>
Page ${pagenum}
<a href="${changequery(page=pagenum+1)}">&gt;&gt;</a>
<h3>Search</h3>
<form action="/quotes" method="GET">
	<table>
		<tr>
			<td><input type="text" name="search"></td>
			<td><input type="submit" value="Search"></td>
		</tr>
	</table>
</form>
<!--
<h3>Login</h3>
<form action="/users" method="POST">
	<table>
		<tr>
			<td>Username:</td>
			<td><input type="text" name="username"></td>
		</tr>
		<tr>
			<td>Password:</td>
			<td><input type="text" name="password"></td>
		</tr>
		<tr>
			<td colspan="2"><input type="submit" value="Log In"></td>
		</tr>
	</table>
</form>

<h3>Sign Up</h3>
<form action="/users" method="POST">
	<table>
		<tr>
			<td>Username:</td>
			<td><input type="text" name="username"></td>
		</tr>
		<tr>
			<td>Password:</td>
			<td><input type="text" name="password1"></td>
		</tr>
		<tr>
			<td>Password:</td>
			<td><input type="text" name="password2"></td>
		</tr>
		<tr>
			<td>Email:</td>
			<td><input type="text" name="email"></td>
		</tr>
		<tr>
			<td colspan="2"><input type="submit" value="Sign Up"></td>
		</tr>
	</table>
</form>
-->

<h3>Tag Cloud</h3>
% for tag in tags:
	<a href="/quotes?search=${tag[1]|u}" style='font-size: ${tag[0]}em'>${tag[1]}</a>
% endfor
</%def>
