[Unit]
Description=ShishNet Quotes

[Service]
ExecStart=/data/sites/quotes.shishnet.org/run/run
Restart=always
Sockets=/tmp/fcgi-quotes.sock

Type=notify
NotifyAccess=all
WatchdogSec=60

[Install]
WantedBy=multi-user.target
