<%def name="body(quote)">
<div class="quote">
	<form action="/quotes/${quote.id}" method="POST">
		<input type="hidden" name="_method" value="PUT">
		<table width="500">
			<tr>
				<td colspan="2"><textarea name="text" rows="5">${quote.text}</textarea></td>
			</tr>
			<tr>
				<td>Tags:</td>
				<td><input type="text" name="tags" value="${ " ".join([tag.name for tag in list(quote.tags)]) }"></td>
			</tr>
			<tr>
				<td colspan="2"><input type="submit" value="Update"></td>
			</tr>
		</table>
	</form>
</div>
</%def>
